<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//static/css/style.css">
    <title>Home Page</title>
</head>
<body>
<div class="container">

    <form action="/result" method="post" enctype = "multipart/form-data">
    <label resultfor="file1" class="title">Enter File:</label>
    <input type="file" name="file1" class="button" style = {"margin":"10px"}>
            <br>
    <input type="submit" value="Submit File" class="button">

    </form>
    <div class = "reference">
    -By "Mini Models" Team - <a href="https://www.linkedin.com/in/yatrik-shah-7490481b6/">Yatrik Shah</a>,
    <a href="https://www.linkedin.com/in/pawan-kumar-j-140210212/"> Pawan Kumar </a>,
    <a href="https://www.linkedin.com/in/shashva/">Shashva Machchhar </a>

    </div>
    </div>
</body>
</html>