<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//static//css//style.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container">

        <img src="{{a}}" alt="image unavailable" HEIGHT="130PX">
        <img src="{{b}}" alt="image unavailable" HEIGHT="130PX">
        <img src="{{c}}" alt="image unavailable" HEIGHT="130PX">
        <br>

        <img src="{{d}}" alt="image unavailable" HEIGHT="130PX">
        <img src="{{e}}" alt="image unavailable" HEIGHT="130PX">
        <img src="{{f}}" alt="image unavailable" HEIGHT="130PX">



	<form action="/" method="POST">
	<div class="button">
	<input type="submit" value="Try Another Image" formaction="/">
	  <!-- <button type="submit">Go Back To Home Page</button> -->
	 </div>
	  </form>

    </div>

</body>
</html>